
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

div .ant-select .ant-select-selector {
  border-radius: 50px;
  font-size: 1rem;
}

div .ant-select.ant-select-in-form-item {
  height: 60px;
}

.ant-input {
  border-radius: 50px;
  height: 60px;
  font-size: 1rem;
}

.ant-select-selection-placeholder {
  text-align: left;
}
